<!DOCTYPE html>
<html>
    <style>
        * {
    margin: 0;
    padding: 0;
}
    </style>
    <head>
        <title>Contacts</title>
    </head>
<body style="background-color: black; background-image: url(static/images/profile_bg.png);background-size: cover;background-position: center -200px; background-repeat: no-repeat;">
<header style="background: transparent;width: 10;">
    <div style="display: flex; gap: 40px; margin-left: 40px; margin-top: 50px;justify-content: flex-start; align-items: center;">
    <h1 style="text-shadow: -8px 0px 10px white;"><a href="/profile" style="text-decoration: none; color:white;"><b>Profile</b></h1></a>
    <a href="/works" style="text-decoration: none; color:white;"><h1 style="text-shadow: -8px 0px 10px white;"><b>Works</b></h1></a>
    <a href="/" style="text-decoration: none; color:white;"><h1 style="text-shadow: -8px 0px 10px white;"><b>Home</b></h1></a>
    </div> </header>

<ul style="list-style: none; display: flex; gap:40px; align-items: center; padding:0px; margin:0px; justify-content: center; padding-top: 200px">
    <li style="display: flex; align-items: center;gap:10px;">
    <img src="static/images/fb.png" style="width:80px; height:80px; vertical-align: middle; margin-right: 15px;">
    <a href="https://www.facebook.com/lindenpowell.rivera" style="text-decoration: none;"><h1 style="color:rgb(23, 23, 79)">Linden Powell Rivera</h1></a>
    </li>
     <li style="display: flex; align-items: center;gap:10px;">
        <img src="static/images/ig.png" style="width:80px;height:80px;vertical-align: middle;margin-right: 15px;">
<a href="https://www.instagram.com/denshikii/" style="text-decoration: none;"><h1 style="color:rgb(144, 12, 12)">@denshikii</h1></a>
</li>
<li style="display: flex; align-items: center;gap:10px;">
    <img src="static/images/mail.png" style="width:80px; height:80px; vertical-align: middle; margin-right: 15px;">
<h1 style="color:white">lindenpowell21@gmail.com</h1></li>

</ul>







</html>