<!DOCTYPE html>
<html>
<head>
    <style>
        * {
    margin: 0;
    padding: 0;
}
    </style>
    <title>Home Page</title>
</head>
<body style="background-color: black; background-image: url('static/images/paper_bg.png');
background-size: cover;background-position: center -100px; background-repeat: no-repeat;">
<header style="background: transparent;width: 10;">
    <div style="display: flex; gap: 40px; margin-left: 40px; margin-top: 50px;justify-content: flex-start; align-items: center;">
    <h1 style="text-shadow: -8px 0px 10px white;"><a href="/profile" style="text-decoration: none; color:white;"><b>Profile</b></h1></a>
    <a href="/works" style="text-decoration: none; color:white;"><h1 style="text-shadow: -8px 0px 10px white;"><b>Works</b></h1></a>
    <a href="/contacts" style="text-decoration: none; color:white;"><h1 style="text-shadow: -8px 0px 10px white;"><b>Contacts</b></h1></a>
    </div> </header>
    <h1 style="font-size: 100px; color: darkgray; padding-top: 100px; padding-left: 35px;">A Page of Linden's Work...</h1>
    <p style="font-size: large; color:gray; padding-left: 35px;">Welcome to a random corner of the web, where my creations reside.</p>

        
</body>
</html>

