<!DOCTYPE html>
<html>
<head>
    <style>
        * {
    margin: 0;
    padding: 0;
}
        .box {
            height:350px;
    width:500px;
    border-radius: 5px;
    background-color: rgb(27, 27, 28);
    box-shadow: 3px 3px 8px 8px black;
    margin-left: 520px;
    margin-top: 20px;
        }
</style>
    <title>Profile Page</title>
</head>
<body style="background-color: black; background-image: url(static/images/profile_bg.png);background-size: cover;background-position: center -200px; background-repeat: no-repeat;">
<header style="background: transparent;width: 10;">
    <div style="display: flex; gap: 40px; margin-left: 40px; margin-top: 50px;justify-content: flex-start; align-items: center;">
    <h1 style="text-shadow: -8px 0px 10px white;"><a href="/" style="text-decoration: none; color:white;"><b>Home</b></h1></a>
    <a href="/works" style="text-decoration: none; color:white;"><h1 style="text-shadow: -8px 0px 10px white;"><b>Works</b></h1></a>
    <a href="/contacts" style="text-decoration: none; color:white;"><h1 style="text-shadow: -8px 0px 10px white;"><b>Contacts</b></h1></a>
    </div> </header>
    <h1 style="color:gray; font-size: 100px; text-align: center;">About Me</h1>
    <div class="box" style="align-items: center;>
    <div style="display: flex; align-items: flex-start; padding: 30px; gap:30px; ">
<img src="static/images/profile-face.png" style="width: 150px; height: 150px; padding-left: 30px; padding-top: 30px;">

<div style="color:white; padding: 25px;">
<h1 style="font-size:large; "><b>Identified as: Linden Powell L. Rivera</b></h1>
<h2 style="font-size:large; ">Location Found: Apolus, R'zaal a.k.a Antipolo, Rizal</h2>
<h2 style="font-size:large; ">CSY: BSCPE 2-2</h2>
<h2 style="font-size:large; ">Age: Unknown</h2>
<h2 style="font-size:large; ">Date Discovered: 4/21</h2>
<P>"Don't dwell on the past; instead, focus on the future"</P>

</div>
</body>
</html>
